<template>
  <main>
    <table class="case-table">
      <thead>
        <tr>
          <th class="case-cell-index" scope="col">#</th>
          <th class="case-cell-action" scope="col">Action</th>
          <th class="case-cell-expected" scope="col">Expected</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(step, stepIndex) in steps" :key="stepIndex">
          <th scope="row">{{ stepIndex + 1 }}</th>
          <td>
            <div v-if="step.action">
              <CaseActions
              :text="step.action.text"
              :images="step.action.images"
              @imageClick="setActiveImage"
            />
            </div>
          </td>
          <td>
            <div v-if="step.expected">
              <CaseActions
              :text="step.expected.text"
              :images="step.expected.images"
              @imageClick="setActiveImage"
            />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <modal
      name="test-case-image-popup"
      width="60%"
      height ="auto"
      :adaptive="true"
      :scrollable="true"
    >
      <img class="case-active-image" :src="activeImageSrc" />
    </modal>
  </main>
</template>

<script>
import CaseActions from './CaseActions.vue';

export default {
  name: 'Case',
  components: {
    CaseActions,
  },
  props: {
    steps: Array,
  },
  data: () => ({
    activeImageSrc: '#',
  }),
  methods: {
    setActiveImage(src) {
      this.activeImageSrc = src;
      this.$modal.show('test-case-image-popup');
    },
  },
};
</script>

<style scoped>
.case-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
}

.case-table td,
.case-table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.case-table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.case-table tbody tr:nth-of-type(odd) {
  background-color: rgba(0,0,0,.05);
}

.case-cell-index {
  width: 5%;
}

.case-cell-action {
  width: 40%;
}

.case-cell-expected {
  width: 70%;
}

.case-active-image {
  width: 100%;
}
</style>
