<template>
  <div>
    <div v-if="images && images.length > 0" class="actions-images">
        <figure
          class="action-image-container"
          v-for="(image, index) in images"
          :key="image"
        >
          <img @click="onImageClick" :src="image">
          <figcaption>
            <em>(pic. {{ index + 1 }})</em>
          </figcaption>
        </figure>
    </div>
    <ul v-if="actions.length > 0" class="actions-texts">
        <li
          class="action-text"
          v-for="(action, index) in actions"
          :key="index"
        >
          <b v-if="actions.length > 1">{{ index + 1 }}.</b>
          <span v-if="Array.isArray(action)">
            <span v-for="text in action" :key="text">
              <Formatter>{{ text }}</Formatter>
            </span>
          </span>
          <span v-else>
            <Formatter>{{ action }}</Formatter>
          </span>
        </li>
    </ul>
  </div>
</template>

<script>
import Formatter from './Formatter.vue';

export default {
  name: 'CaseActions',
  components: {
    Formatter,
  },
  props: {
    images: Array,
    text: [String, Array],
  },
  computed: {
    actions() {
      return Array.isArray(this.text) ? this.text : [this.text];
    },
  },
  methods: {
    onImageClick(event) {
      this.$emit('imageClick', event.target.src);
    },
  },
};
</script>

<style scoped>
.action-images {
  display: flex;
}

.action-image-container {
  display: inline-block;
  width: 150px;
  max-height: 150px;
  overflow: hidden;
  margin: 0;
}

.action-image-container img {
  display: inline-block;
  width: 100%;
  cursor: zoom-in;
}

.action-image-container figcaption {
  text-align: right;
  font-size: 12px;
}

.action-text {
  margin: 5px 0;
}
</style>
