<template>
  <div class="error">
    <h2 class="title">Found an error when parse test case</h2>
    <details>
      <summary>
        <strong>{{ error.message }}</strong>
      </summary>
      <p class="trace" v-for="trace in stack" :key="trace">
        {{ trace }}
      </p>
    </details>
  </div>
</template>

<script>
export default {
  name: 'Error',
  props: {
    error: Object,
  },
  computed: {
    stack() {
      return this.error.stack.split('\n');
    },
  },
};
</script>

<style scoped>
.error {
  color: #E53935;
  padding: 15px;
}

.trace {
  margin: 5px 15px;
  padding: 0;
}
</style>
