<template>
  <span class="formatter" v-html="formatted"></span>
</template>

<script>
import { format } from '../utils/formatter';

export default {
  name: 'Formatter',
  computed: {
    formatted() {
      const source = (Array.isArray(this.$slots.default)
        && this.$slots.default[0]
        && this.$slots.default[0].text) || '';

      return format(source);
    },
  },
};
</script>

<style>
.formatter em {
  font-size: 14px;
  font-style: italic;
}

.formatter code {
  background-clip: padding-box;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  display: inline-block;
  margin: 0 2px -1px;
  padding: 0px 3px;
  text-decoration: inherit;
  vertical-align: baseline;
  font-family: monospace;
}

.formatter strong {
  color: #333;
  font-size: 14px;
  font-weight: bold;
}
</style>
