<template>
    <header>
        <h2 class="header">
        <span>{{ title }}</span>
        <img
            alt="Optimax ltd."
            width="100"
            src="../assets/logo.png"
        />
        </h2>
    </header>
</template>

<script>
export default {
  name: 'Header',
  props: {
    title: String,
  },
};
</script>

<style scoped>
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  margin: 0;
  padding: 0 15px;
  color: #4d4d4d;
  border-bottom: 1px solid #ececec;
}
</style>
