<template>
  <summary class="summary">
    <ul class="summary-list">
      <li class="summary-item">
        <span class="summary-name">Type: </span>
        <span >{{ testCase.type }}</span>
      </li>

      <li class="summary-item">
        <span class="summary-name">Browsers: </span>
        <span >{{ browsers }}</span>
      </li>

      <li class="summary-item">
        <span class="summary-name">Device: </span>
        <span >{{ device }}</span>
      </li>

      <li class="summary-item">
        <span class="summary-name">Notes: </span>
        <ul>
          <li v-for="note in testCase.notes" :key="note">
            {{ note }}
          </li>
        </ul>
      </li>

      <li v-if="testCase.preCondition" class="summary-item">
        <span class="summary-name">Preconditions: </span>
        <ul>
          <li v-for="condition in preConditions" :key="condition">
            <span v-if="Array.isArray(condition)">
              <span v-for="action in condition" :key="action">
                {{ action }}
              </span>
            </span>
            <span v-else>
              {{ condition }}
            </span>
          </li>
        </ul>
      </li>

      <li v-if="testCase.preCondition && testCase.preCondition.testData" class="summary-item">
        <span class="summary-name">Test data</span>
        <span>{{ testCase.preCondition.testData }}</span>
      </li>
    </ul>
  </summary>
</template>

<script>
export default {
  name: 'Summary',
  props: {
    testCase: Object,
  },
  computed: {
    browsers() {
      return this.testCase.environment
      && this.testCase.environment.browser
      && this.testCase.environment.browser.join(', ');
    },
    device() {
      return this.testCase.environment
      && this.testCase.environment.device
      && this.testCase.environment.device.join(', ');
    },
    preConditions() {
      return (this.testCase.preCondition
      && Array.isArray(this.testCase.preCondition.actions)
      && this.testCase.preCondition.actions) || [];
    },
  },
};
</script>

<style scoped>
  .summary {
    margin: 20px;
  }

  .summary-item {
    display: flex;
    margin: 10px 0;
  }

  .summary-name {
    display: inline-block;
    min-width: 150px;
    font-weight: 700;
  }
</style>
