<template>
  <div v-if="!error" id="app">
    <Header :title="testCase.name" />
    <Summary :testCase="testCase" />
    <Case :steps="testCase.steps" />
  </div>
  <Error v-else :error="error" />
</template>

<script>
import Header from './components/Header.vue';
import Summary from './components/Summary.vue';
import Case from './components/Case.vue';
import Error from './components/Error.vue';

export default {
  name: 'app',
  components: {
    Header,
    Summary,
    Case,
    Error,
  },
  data: () => ({
    testCase: {
      name: '',
      steps: [],
    },
    error: null,
  }),
  methods: {
    onTestCaseUpdated(event) {
      try {
        this.testCase = JSON.parse(event.detail);
        this.error = null;
      } catch (e) {
        console.dir(e);
        this.error = e;
      }
    },
  },
  created() {
    window.addEventListener('testCase::update', this.onTestCaseUpdated);
  },
  beforeDestroy() {
    window.removeEventListener('testCase::update', this.onTestCaseUpdated);
  },
};
</script>

<style>
body {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
#app {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4d4d4d;
}
</style>
